<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Betting App - <%= title %></title>
    <link rel="stylesheet" href="css/index.css">
    <script defer src="js/index.js"></script>
</head>
