<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %> 
        <%= profile.name %>
        <%- include("./partials/footer.ejs") %> 
    </body>
</html>
